# Archivos temporales y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Logs locales de auditoría (No se suben por seguridad)
*.log
auditoria_electoral.log

# Archivos temporales de guardado atómico o corruptos
*.tmp
*.corrupto

# Entornos virtuales
venv/
env/
.venv/

# =========================================
# REGLAS AÑADIDAS PARA DOCKER Y EL PROYECTO
# =========================================

# Variables de entorno y credenciales (CRÍTICO POR SEGURIDAD)
.env

# Dependencias del futuro frontend